$smallText: 12px;
$contentText: 14px;
$titleText: 18px;
$defaultPadding: 24px;

$white: #fff;
$black: #000000;


$gray: #aaaaaa;


@mixin clearfix() {
  &:after, &:before{
    content: ' ';
    display: table;
  }
  &:after{
    clear:both;
  }
}

@mixin box() {
  @include clearfix();
  padding:$defaultPadding;
  padding-top: 0;
  img {
    max-width: 100% !important;
  }
}

@mixin clearinput() {
  background-color:inherit;
  font-size: inherit;
  color:inherit;
  border:none;
  padding:0;
  margin:0;
  outline: none;
}
